In [122]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn import preprocessing

In [123]:
data = pd.read_csv('preprocessedData.csv')

In [124]:
data.head()

,duration,day_of_week,time_of_day,start_station_id_distance,end_station_id_distance,temp_category,mean_dew_point_f,mean_humidity,mean_visibility_miles,mean_wind_speed_mph,precipitation_inches,cloud_cover
0,608,1,noon,0.274358,0.279310,less,45.0,69.0,9.0,1.0,0.0,5.0
1,662,1,noon,0.274358,0.275123,less,45.0,69.0,9.0,1.0,0.0,5.0
2,343,1,rush_hour,0.274358,0.273022,less,44.0,64.0,9.0,4.0,0.0,3.0
3,329,1,rush_hour,0.274358,0.277060,less,44.0,63.0,10.0,12.0,0.0,5.0
4,446,1,rush_hour,0.274358,0.279954,less,44.0,63.0,10.0,12.0,0.0,5.0

In [125]:
data.loc[data.temp_category == 'less', 'temp_category'] = 0
data.loc[data.temp_category == 'between', 'temp_category'] = 1

In [126]:
data.loc[data.time_of_day == 'noon', 'time_of_day'] = 2
data.loc[data.time_of_day == 'rush_hour', 'time_of_day'] = 1
data.loc[data.time_of_day == 'night', 'time_of_day'] = 3
data.loc[data.time_of_day == 'early_morning', 'time_of_day'] = 0

In [127]:
data = data.dropna(subset=['start_station_id_distance', 'end_station_id_distance'])

In [128]:
y = pd.DataFrame(data['duration'], columns=['duration'])

In [129]:
x = data.drop(columns=['duration'])

In [130]:
x.head()

,day_of_week,time_of_day,start_station_id_distance,end_station_id_distance,temp_category,mean_dew_point_f,mean_humidity,mean_visibility_miles,mean_wind_speed_mph,precipitation_inches,cloud_cover
0,1,2,0.274358,0.279310,0,45.0,69.0,9.0,1.0,0.0,5.0
1,1,2,0.274358,0.275123,0,45.0,69.0,9.0,1.0,0.0,5.0
2,1,1,0.274358,0.273022,0,44.0,64.0,9.0,4.0,0.0,3.0
3,1,1,0.274358,0.277060,0,44.0,63.0,10.0,12.0,0.0,5.0
4,1,1,0.274358,0.279954,0,44.0,63.0,10.0,12.0,0.0,5.0

In [131]:
y.head()

   duration
0       608
1       662
2       343
3       329
4       446

In [132]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y, test_size = 0.33, random_state = 7)

In [133]:
x.head()

,day_of_week,time_of_day,start_station_id_distance,end_station_id_distance,temp_category,mean_dew_point_f,mean_humidity,mean_visibility_miles,mean_wind_speed_mph,precipitation_inches,cloud_cover
0,1,2,0.274358,0.279310,0,45.0,69.0,9.0,1.0,0.0,5.0
1,1,2,0.274358,0.275123,0,45.0,69.0,9.0,1.0,0.0,5.0
2,1,1,0.274358,0.273022,0,44.0,64.0,9.0,4.0,0.0,3.0
3,1,1,0.274358,0.277060,0,44.0,63.0,10.0,12.0,0.0,5.0
4,1,1,0.274358,0.279954,0,44.0,63.0,10.0,12.0,0.0,5.0

In [134]:
# x_train.min(axis=0)

In [135]:
# x_train.max(axis=0)

In [140]:
scaler = preprocessing.StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [141]:
model = linear_model.LinearRegression()
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [142]:
y_predicted = model.predict(x_test)

In [144]:
metrics.mean_squared_error(y_test, y_predicted)

111573.12407383994